.container {
	background-color: #FFFFCC;
}

#header {
	background-color: #FFFF00;
}

#main {
	background-color: #000066;
}

#side {
	background-color: #33CC33;
}

#footer {
	background-color: #000000;
}