.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar {
  background-color: #222;
  border-color: #080808;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.brand_div, .nav > li {
  float: left;
  height: 20px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.brand, .nav > li > a{
  color: #9d9d9d;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.page_title {
  font-size: 35px;
  padding: 15px;
}

.msg {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.error_msg {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

}

.success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.info_msg {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.container form {
  padding: 15px;
}

.container form ul li {
  padding-bottom: 10px;

}

.container form ul li label {
  display: block;
  margin-bottom: 5px;
}

.form_group {
  margin-bottom: 15px;
}

.form_link a {
  margin: 0px 15px;
}